body {
  background: none;
  color: #69707a;
  font-family: arial;
}

body {

background-image: url(https://i.pinimg.com/564x/3d/d4/ca/3dd4ca8c4fc13e2c9cf8ab1a30d18ad3--pastel-sky-pretty-pastel.jpg?b=t)
}


